flows/test_flow3.json
[
    {
        "id": "6b54c7b4.4e1108",
        "type": "tab",
        "label": "flow.main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb1d8fd5.df378",
        "type": "mqtt out",
        "z": "6b54c7b4.4e1108",
        "name": "auto/led@LED-pin",
        "topic": "'auto/led'",
        "qos": "1",
        "retain": "",
        "broker": "bb7fd495.7c9608",
        "x": 394,
        "y": 238,
        "wires": []
    },
    {
        "id": "7df4a21b.af8e0c",
        "type": "debug",
        "z": "6b54c7b4.4e1108",
        "name": "firebase.out@/devices/LED",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 435,
        "y": 320,
        "wires": []
    },
    {
        "id": "8566e067.99c6a",
        "type": "firebase.on",
        "z": "6b54c7b4.4e1108",
        "name": "firebase.out@led",
        "firebaseconfig": "",
        "childpath": "/bedroom1/led",
        "atStart": false,
        "eventType": "value",
        "queries": [],
        "x": 127,
        "y": 279,
        "wires": [
            [
                "7df4a21b.af8e0c",
                "cb1d8fd5.df378"
            ]
        ]
    },
    {
        "id": "b751b09f.cfcb6",
        "type": "mqtt out",
        "z": "6b54c7b4.4e1108",
        "name": "auto/fan@Fan-pin",
        "topic": "'auto/fan'",
        "qos": "1",
        "retain": "",
        "broker": "bb7fd495.7c9608",
        "x": 392,
        "y": 70,
        "wires": []
    },
    {
        "id": "257ad42f.75c0ec",
        "type": "debug",
        "z": "6b54c7b4.4e1108",
        "name": "firebase.out@/devices/Fan",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 422,
        "y": 151,
        "wires": []
    },
    {
        "id": "9604f37.8d64e1",
        "type": "firebase.on",
        "z": "6b54c7b4.4e1108",
        "name": "firebase.out@fan",
        "firebaseconfig": "",
        "childpath": "/bedroom1/fan",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 128,
        "y": 112,
        "wires": [
            [
                "257ad42f.75c0ec",
                "b751b09f.cfcb6"
            ]
        ]
    }
]
