flows/test_flow2.json
[
    {
        "id": "930439c0.bc4528",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d21d320.6f318c",
        "type": "inject",
        "z": "930439c0.bc4528",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "afd48b49.fb8de8"
            ]
        ]
    },
    {
        "id": "afd48b49.fb8de8",
        "type": "firebase.once",
        "z": "930439c0.bc4528",
        "name": "AC",
        "firebaseconfig": "",
        "childpath": "/devices/0/status",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 390,
        "y": 60,
        "wires": [
            [
                "53d43122.ee3c1"
            ]
        ]
    },
    {
        "id": "53d43122.ee3c1",
        "type": "debug",
        "z": "930439c0.bc4528",
        "name": "AC.debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "b059e499.01e7d8",
        "type": "firebase.on",
        "z": "930439c0.bc4528",
        "name": "AC",
        "firebaseconfig": "",
        "childpath": "/devices/0/status",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 390,
        "y": 140,
        "wires": [
            [
                "53d43122.ee3c1"
            ]
        ]
    },
    {
        "id": "d592b331.09d6e",
        "type": "mqtt out",
        "z": "930439c0.bc4528",
        "name": "AC mqtt out",
        "topic": "switch-ac",
        "qos": "2",
        "retain": "true",
        "broker": "84ef6728.41d3e8",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "e0c038c0.a8a5d8",
        "type": "debug",
        "z": "930439c0.bc4528",
        "name": "mqtt.out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "e847b750.28ff98",
        "type": "firebase.on",
        "z": "930439c0.bc4528",
        "name": "/0/status/ firebase.out",
        "firebaseconfig": "",
        "childpath": "/0/status",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 160,
        "y": 300,
        "wires": [
            [
                "e0c038c0.a8a5d8",
                "d592b331.09d6e"
            ]
        ]
    },
    {
        "id": "84ef6728.41d3e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT",
        "broker": "localhost",
        "port": "1880",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
